

<%- include('partials/header') %>
<div id="home-header">
    <div class="container">
        <h2>Welcome!</h2>
        <h3>Have a look around. Try some recipes.</h2>
        <h3>Oh, and don't forget to post your own!</h2>
    </div>
</div>
<div id="index-header-container" class="container section">
    <div class="container new-recipes-banner grey darken-4">
        <div class="section container">
            <h5 id="index-header" class="white-text">Most Recent:</h5>
        </div>
    </div>
</div>

<div class="container center-align">
    <% recipes.forEach(element => { %>
        <div id="recipe-section" class="container grey lighten-4 z-depth-0 section">
            <div id="recipe-item" class="row">

                <div class="col s12 l4">
                    <img class="index-image" src="<%= element.imageURL %>" alt="">
                </div>

                <div class="col s12 l8">
                    <h4><%= element.recipeName %></h4>
                    <h6>Author: <%= element.author.username %></h6>
                    <p class="truncate"><%= element.description %></p>
                </div>

                <div class="col s12 l12">
                    <a class="btn z-depth-0 grey darken-4 waves-effect waves-light" href="/recipes/<%= element._id %>">Read More</a>  
                </div>
                <!-- <p><%= element.created.toDateString() %></p> -->
            </div>
        </div>
    <% }) %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      M.Sidenav.init(elems, options);
    });
  </script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <%- include('partials/footer') %>

