<%- include('partials/header') %>

<div id="home-header">
    <div class="container">
        <h2>Welcome!</h2>
        <h3>Have a look around. Try some recipes,</h2>
        <h3>Leave a rating and don't forget to post your own!</h2>
    </div>
</div>
<div class="new-recipes-banner grey darken-4">
    <div class="container">
        <div class="container">
            <h5 class="white-text">Most Recent:</h5>
        </div>
    </div>
</div>

<div class="container center-align">
    <% recipes.forEach(element => { %>
        <div id="recipe-section" class="container grey lighten-4 z-depth-0 section">
            <div id="recipe-item" class="row">

                <div class="col s12 l4">
                    <img class="index-image" src="<%= element.imageURL %>" alt="">
                </div>

                <div class="col s12 l8">
                    <h4><%= element.recipeName %></h4>
                    <h6>Author: <%= element.author %></h6>
                    <p class="truncate"><%= element.body %></p>
                </div>

                <div class="col s12 l12">
                    <a class="btn z-depth-0 grey darken-4 waves-effect waves-light" href="/recipes/<%= element._id %>">Read More</a>  
                </div>
                <!-- <p><%= element.created.toDateString() %></p> -->
            </div>
        </div>
    <% }) %>
</div>

<%- include('partials/footer') %>