<%- include('../partials/header') %>
<div class="container height-control">
    <p>
        <span class="red-text text-darken-2"><strong>Step 1: Recipe Description</strong></span> 
        <span class="grey-text">>> Step 2: Recipe Ingredients >> Step 3: Recipe instructions</span>
    </p>

    <h1>Edit Recipe</h1>
    <div class="row grey lighten-4 z-depth-0 section">
        <form action="/recipes/<%= recipe._id %>?_method=PUT" class="col s12" method="POST">
            <div class="row">

                <div class="input-field col s6">
                    <input value="<%= recipe.recipeName %>" id="recipe" type="text" class="validate" name="recipe[recipeName]">
                    <label for="recipe">Recipe Name</label>
                </div>

                <div class="input-field col s6">
                    <input value="<%= recipe.servings %>" id="servings" type="number" class="validate" name="recipe[servings]">
                    <label for="servings">Servings</label>
                </div>

                <div class="input-field col s6">
                    <input value="<%= recipe.prepTime %>" id="prep-time" type="number" class="validate" name="recipe[prepTime]">
                    <label for="prep-time">Prep Time (minutes)</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="recipe[description]" required><%= recipe.description %></textarea>
                    <label for="textarea1"></label>
                </div>

                <div class="input-field col s6">
                    <input value="<%= recipe.imageURL %>" id="image" type="text" class="validate" name="recipe[imageURL]">
                    <label for="image">Image</label>
                </div>
            </div>
            <button class="btn z-depth-0 grey darken-4 waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>


<%- include('../partials/footer') %>