<%- include('../partials/header') %>

<div class="jumbo grey darken-4">
    <div id="jumbo-content" class="container white-text">
        <div id="show-row" class="row">
            <div class="col s6">
                <h2 class="white-text"><%= recipe.recipeName %></h2>
                <h5>Author: <%= recipe.author.username %></h5>
                <p><%= recipe.created.toDateString() %></p>
                <div class="row">
                    <div class="col s3"><i class="show-icon material-icons">fastfood</i> <%= recipe.servings %> servings</div>
                    <div class="col s9"><i class="show-icon material-icons">alarm</i> <%= recipe.prepTime %> mins</div>
                </div>
                <div class="container left section">
                    
                    <a class="btn grey-text text-darken-4 waves-effect white waves-light" href="/recipes">Back</a>
                    <% if (currentUser && recipe.author.id.equals(currentUser._id)) { %>
                        <a class="btn grey-text text-darken-4 waves-effect white waves-light" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                        <form id="inline-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn grey-text text-darken-4 waves-effect white waves-light">Delete</button>
                        </form>
                    <% } else { %> 
                        <a class="btn grey-text text-darken-4 waves-effect white waves-light disabled" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                        <form id="inline-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn grey-text text-darken-4 waves-effect white waves-light disabled">Delete</button>
                        </form>
                    <% } %> 
                </div>
            </div>

            <div class="col s6">
                <img class="show-image" src="<%= recipe.imageURL %>" alt="">
            </div>
        </div>
    </div>
</div>
<div id="section-2" class="container center-align grey lighten-4 section">
    <div class="row">
        <div class="col s12">
            <p class="flow-text"><%= recipe.description %></p>
        </div>

        <div class="col s6">
            <h5>Ingredients:</h5>
        </div>
        
        <div class="col s6">
            <h5>Instructions:</h5>
            
        </div>
        
        <div class="column-entry col s6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div class="column-entry col s6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>

<div class="container new-recipes-banner grey darken-4">
    <div class="section">
        <h5 id="comments-banner" class="white-text">Comments</h5>
        <!-- <h5 id="comments-banner" class="white-text">Comments</h5> -->
        <a href="/recipes/<%= recipe._id %>/comments/new" id="add-comment-button" class="btn grey-text text-darken-4 waves-effect white waves-dark right z-depth-0">Add a comment</a>
    </div>
    
</div>

<div id="section-2" class="container">
    <div id="comment-row" class="row">
        <% recipe.comments.forEach(comment => { %>

            <div id="comment-block" class="grey lighten-4 section">
                <p><strong><%= comment.author.username %></strong> - <em><%= comment.text %></em></p>
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %> 
                    <a class="btn white-text waves-effect black waves-dark z-depth-0 btn-small" href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form id="inline-form" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn white-text waves-effect black waves-dark z-depth-0 btn-small">Delete</button>
                    </form>
                <% } else { %>
                    <a class="btn white-text waves-effect black waves-dark z-depth-0 btn-small disabled" href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form id="inline-form" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn white-text waves-effect black waves-dark z-depth-0 btn-small disabled">Delete</button>
                    </form>
                <% } %> 
            </div>  

        <% }); %>
    </div>
</div>


<%- include('../partials/footer') %>